<app-header></app-header>
<section class="privacy-policy">
  <h1>Política de Privacidade</h1>

  <p>Na Startup Ficticio, a privacidade de nossos usuários é de extrema importância.
    Este documento descreve os tipos de informações pessoais que coletamos, como as
    utilizamos e as opções que você tem em relação a essas informações. Ao utilizar
    nossos serviços, você concorda com as práticas descritas nesta política.</p>

  <p>Coletamos informações que você nos fornece diretamente, como nome, endereço de
    e-mail e outras informações de contato quando você se cadastra em nossos serviços
    ou interage conosco. Também podemos coletar informações automaticamente, como seu
    endereço IP, tipo de navegador e informações sobre como você utiliza nossos serviços.</p>

  <p>Utilizamos as informações coletadas para fornecer, manter e melhorar nossos serviços,
    enviar comunicações relevantes, personalizar sua experiência e analisar o uso de nossos
    serviços. Não compartilhamos suas informações pessoais com terceiros, exceto conforme descrito
    nesta política ou com seu consentimento.</p>
</section>
<app-footer></app-footer>
