section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.map-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 500px;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


@media (max-width: 768px) {
  .map-container iframe {
    height: 300px;
  }
}
