<section class="section-container" id="#sobre">
  <div class="curves"></div>

  <article class="center">
    <div class="image-container">
      <img [src]="imagemequipe[0]" class="imagem" alt="Equipe 1">
    </div>
    <div class="text-container">
      <h1>Um pouco sobre nós...</h1>
      <p>Somos uma Start-up especializada em sistemas de gerenciamento de comercios. Desenvolvendo softwares e web-apps
        para varios ramos da industria, com o objetivo de facilitar a vida dos gestores, fornecento tudo oque é necessário
        para governar sua empresa...
      </p>
    </div>
  </article>

  <article class="center">
    <div class="text-container1">
      <p>... Nossa equipe está pronta para te dar o atendimento personalizado de acordo com sua empresa, e com o serviço contratado,
        além de ter um software personalizado conforme o seu uso em seu dia a dia.
      </p>
    </div>
    <div class="image-container1">
      <img [src]="imagemequipe[1]" class="imagem" alt="Equipe 2" style="height: 250px">
    </div>
  </article>
</section>
