<section id="section-4" class="section-4">
  <h2 class="t-center">Depoiments</h2>
  <div class="flex">
    <div class="depo grid-card">
      <img src="https://flaviojoni.github.io/landing-page/images/face1.png" alt="">
      <h3 class="t-center">Name Here</h3>
      <p class="t-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    </div>
    <div class="depo grid-card">
      <img src="https://flaviojoni.github.io/landing-page/images/face2.png" alt="">
      <h3 class="t-center">Name Here</h3>
      <p class="t-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    </div>
    <div class="depo grid-card">
      <img src="https://flaviojoni.github.io/landing-page/images/face3.png" alt="">
      <h3 class="t-center">Name Here</h3>
      <p class="t-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    </div>
  </div>
</section>


