<div class="content">
  <div class="container">
    <div class="info">
      <h1>Gerir seu negócio está complicado?</h1>
      <p>Então este é o site certo para você!<br>
        Conosco. você irá ter um sistema de gestão voltado especificamente para o seu negócio, seja ele papelaria ou veterinária!<br>
        Nossos profissionais estão a sua disposição para atender suas necessidades com softwares seguros e práticos.
        <br>Vem ver um pouco mais!!</p>
      <button>Conferir Softwares</button>
    </div>
    <div class="image">
      <div class="tamanhoimg">
        <img style="margin-top: -10%" [src]="imagem_info">
      </div>
    </div>
  </div>
</div>
